<div id="articles">
  <% @articles.each do |article| %>
    <ul id="articles">
      <img src="<%= article.image %>" />
      <li><%= article.name %></li>
      <li><%= article.date_published %></li>
    </ul>
  <% end %>
</div>
