<div id="articles">
  <% @articles.each do |article| %>
    <img src="<%= article.image %>" />
    <div id="article">
      <h1><a href="<%= article.content %>" target="_blank"><%= article.name %></a></h1>
      <h4><%= article.date_published %></h4>
    </div>
  <% end %>
</div>
