<div id="articles">
  <% @articles.each do |article| %>
    <img src="<%= article.image %>" />
    <div id="article">
    <h1><%= article.name %></h1>
    <h4><%= article.date_published %></h4>
  </div>
  <% end %>
</div>
