<div id="index" class="animated fadeIn">
    <nav>
      <img src="<%= asset_path('poe.jpg') %>" />
      <ul>
        <li><a href="#" class="current">HOME</a></li>
        <li><a href="#">ARTICLES</a></li>
        <li><a href="#">BOOKS</a></li>
        <li><a href="#">MOVIES</a></li>
        <li><a href="#">VIDEO GAMES</a></li>
        <li><a href="#">REVIEWS</a></li>
      </ul>
    </nav>
    <h1 class="title">Plutonian Shore</h1>
  <img src="<%= asset_path('main_background.jpg') %>" />
</div>
