<div id="index">
  <div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>A classy, refined site for horror fans that Poe would approve of.</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
