// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#articles {
  color: white;
  width: 70%;
  margin: auto;

  #article {
    margin: 50px;
    margin-bottom: 100px;
    h1 {
      line-height: 30px;
    }
  }

  img {
    vertical-align: top;
    float: right;
  }


}
