// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul#articles {
  color: white;
  width: 70%;
  margin: auto;
}
